/* Declaring CSS variables in :root */
:root {
    --color1: #F0A202;
    --color2: #F18805;
    --color3: #D95D39;
    --color4: #0E1428;
    --color5: #7B9E89;
}

/* CSS Reset */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
dl,
dd,
ol,
ul,
figure,
hr,
fieldset,
legend {
    margin: 0;
    padding: 0;
}
body {
    line-height: 1.6;
    min-width: 100%;
    min-height: 100%;
    font-family: "Source Sans Pro", sans-serif;
    position: relative;
}

.main-container {
    min-width: 100%;
    min-height: 100%;
    display: flex;
    position: relative;
}

.navigator {
    background-color: var(--color2);
    width: 400px;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: fixed;
    z-index: 3;
    display: none;
}

.modal-background {
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.2;
    position: fixed;
    z-index: 3;
    display: none;
}


.header-navigator-container {
    display: none;
}


.main-container {
    flex-direction: column;
}

.header-navigator-container {
    height: 2em;
    background-color: var(--color2);
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.header-navigator-profile {
    display: flex;
    margin-right: 2em;
    gap: 0.5em;
    align-items: center;
    padding-left: 0.5em;
    padding-right: 0.5em;
    position: relative;
    color: white;
}

.header-navigator-profile:hover {
    background-color: #a7a7a7;
    border-radius: 10px;
    cursor: pointer;
}

.header-setting-container {
    display: none;
    position: absolute;
    top: 2em;
    left: 0;
    width: 100%;
    background-color: white;
    height: 6em;
    border: 2px solid black;
}

.header-setting-dropdown-menu {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.header-setting-dropdown-menu>form>button {
    width: 30px;
    margin-right: 1em;
    margin-left: 1em;
    width: calc(100% - 2em);
    cursor: pointer;
    height: 2.5em;
}

.header-navigator-profile-image {
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
}

.menu-icon-container {
    margin-left: 2em;
    display: flex;
    align-items: center;
    padding: 0.5em;
}

.menu-icon-container:hover {
    background-color: #a7a7a7;
    border-radius: 10px;
    cursor: pointer;
}

.menu-icon {
    width: 20px;
}

.profile-container {
    visibility: hidden;
}



#logo-container {
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    font-weight: bolder;
    font-size: 1.5em;
    margin-top: 1em;
    margin-bottom: 1em;
}

#logo {
    height: 80%;
}

.page-type {
    color: white;
    margin-top: 0.8em;
    margin-bottom: 0.8em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    padding-left: 10%;
    width: 85%;
    font-size: 1em;
}

.test-link {
    display: flex;
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.page-type-icon {
    height: 1.5em;
    margin-right: 1em;
}

.chosen-type {
    color: black;
    background-color: var(--color3);
    border-radius: 25px;
    font-weight: bolder;
}

.profile-container {
    height: 10%;
    width: 100%;
    margin-top: auto;
    border-top: 1px solid var(--color2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2%;
}

#profile-pic {
    margin-left: 1em;
    height: 60px;
    width: 60px;
    border-radius: 50%;
}

.info {
    overflow: hidden;
}

#profile-name {
    color: white;
}

#profile-email {
    color: gray;
}

#profile-setting-icon {
    height: 1.5em;
    width: 1.5em;
    margin-right: 1em;
    cursor: pointer;
}

.setting-container {
    display: flex;
    position: relative;
}

.setting-dropdown-menu {
    display: none;
    position: absolute;
    bottom: 1em;
    left: 1em;
    background-color: white;
    flex-direction: column;
    align-items: center;
    width: 8em;
    border: 1px solid #ccc;
    padding: 5px;
    z-index: 1;
    text-align: center;
}

.setting-profile {
    border: none;
    border-bottom: 1px solid black;
    width: 100%;
    background-color: transparent;
    font-size: 1.3em;
}

.setting-logout {
    width: 100%;
    border: none;
    background-color: transparent;
    font-size: 1.3em;
}

.setting-dropdown-menu>*:hover {
    background-color: var(--color1);
    width: 100%;
    cursor: pointer;
}

.setting-logout {
    cursor: pointer;
}

.page-type:hover {
    background-color: #3f3f3f;
}

.content {
    min-height: 90vh;
}
