

.enumeration-questions-table-no-column {
    width: 10%;
}

.enumeration-questions-table-answer-column {
    width: 65%;
    font-weight: bold;
}

.enumeration-questions-table-sensitive-column {
    width: 15%;
}

.enumeration-questions-table-buttons-column {
    width: 10%;
    font-weight: bold;
    gap: 2%;
}