.mt-note {
    color: red;
    width: 50%;
}

.mt-choices-container {
    display: flex;
    gap: 5%;
}


.mt-inputs {
    width: 90%;
    margin-bottom: 1em;
    padding: 0.3em;
}

.mt-point-container {
    width: 20%;
}

table{
    width: 100%;
    margin-bottom: 1em;
}

th {
    padding-bottom: 0.5em;
}