/* Declaring CSS variables in :root */
:root {
    --color1: #F0A202;
    --color2: #F18805;
    --color3: #D95D39;
    --color4: #0E1428;
    --color5: #7B9E89;
}

.body-content {
    display: flex;
    margin-top: 3em;
    height: 70%;
    align-items: center;
    flex-direction: column;
}
.take-test-body{
    width: 600px;
    border-radius: 25px;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #e7e7e7;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3), -5px 5px 10px rgba(0, 0, 0, 0.3), 0 10px 15px rgba(0, 0, 0, 0.3);
}
ul.custom-list {
    margin-left: 1em;
    list-style-type: upper-alpha; /* Use 'upper-alpha' for uppercase letters (A, B, C, ...) */
}
.item-options {
    display: flex;
}

.item-options-form {
    align-self: center;
}

.test-content{
    display: flex;
    flex-direction: column;
}

.test-item-cell {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.et-answers {
    margin: 0.5em 0;
}

.finish-test-button {
    padding: 0.5em;
    font-size: 1.2em;
    font-weight: bold;
    cursor: pointer;
    margin-top: 1em;
    background-color: black;
    color: white;
    border-radius: 10px;
}

.next-previous-button {     
    width: 10em;
    padding: 0.5em;
    margin-top: 1em;
    background-color: var(--color2);
    font-weight: bold;
    border-radius: 25px;
    border: 2px solid black;
    cursor: pointer;
}

.question-number {
    font-size: 1.2em;
    font-weight: bold;
}
