.textinput-search {
    width: 90%;
    resize: none;
    font-size: 1.1em;
}


.text-search-background {
    padding: 0.5%;
    border: 1px solid black;
}

.dropdown-container {
    width: 96%;
    margin-bottom: 1em;
}

.dropdown-header {
    display: flex;
    border: 1px solid black;
}

.dropdown-title {
    width: 98%;
    border: 1px solid black;
    font-size: 1.2em;
    text-align: left;
    display: flex;
    justify-content: space-between;
    padding: 0.2em 0.5em 0.2em 0.5em;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.dropdown-checkbox {
    transform: scale(1.8);
    margin-right: 1em;
}

.dropdown-content {
    border: 1px solid black;
    padding: 0.2em 0.5em 0.5em 0.5em;
    display: block;
}

.test-question-output {
    font-weight: normal;
}

.essay-table {
    width: 100%;
    text-align: left;
    border-collapse: collapse;
    border: 1px solid black;
    /* Add a 1px solid border around the table */
    margin-top: 0.5em;
}

th,
td {
    border: 1px solid black;
    /* Add a 1px solid border around table cells (th and td) */
    padding: 0.2em 0.5em 0.2em 0.5em;
    /* Add padding to cells for spacing */
}

.essay-criteria-column {
    width: 70%;
}