.test-select-body-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: calc(100% - 2em);
    height: 100%;
}
.test-select-body-container > a {
    margin: 0.5em;
    height: 4em;
}

.test-select-body-container > a > button {
    height: 4em;
    width: 100%;
}

.add-item-sub-container {
    height: 400px;
}

.add-item-modal-header {
    height: 15%;
}

.add-item-modal-body {
    height: 65%;
}

.select-type-test-button {
    cursor: pointer;
}