/* Declaring CSS variables in :root */
:root {
    --color1: #F0A202;
    --color2: #F18805;
    --color3: #D95D39;
    --color4: #0E1428;
    --color5: #7B9E89;
}


.test-profile-container {
    width: 96%;
    padding: 1em;
    border: 1px solid gray;
    border-radius: 25px;
    margin-bottom: 2%;
}

.test-profile-label {
    font-weight: bold;
}

.test-profile-value {
    font-weight: normal;
}

.test-questions-container {
    width: calc(96% + 2em);
    border: 1px solid gray;
    border-radius: 25px;
}

.test-questions-table-container {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-weight: bold;
}

.questions-table {
    border-collapse: collapse;
    width: 100%;
    text-align: left;
}

.questions-table>thead {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    width: 100%;
}

.questions-table>thead>tr>th {
    padding-left: 1em;
}

.questions-table>tbody>tr:nth-child(even) {
    background-color: #cccccc;
    /* Grayish background color */
    padding: 10px;
    /* Adjust the padding as needed for left and right spacing */
}

.questions-table>tbody>tr>td {
    font-weight: normal;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 1em;
}

.questions-table-no-column {
    width: 10%;
}

.questions-table-status-column {
    width: 15%;
    font-weight: bold;
}

.questions-table-question-column {
    width: 30%;
}

.questions-table-point-column {
    width: 15%;
}

.questions-table-buttons-column {
    width: 30%;
    font-weight: bold;
    gap: 2%;
}

.questions-table-buttons-column-div {
    display: flex;
    justify-content: space-between;
    margin: 0 10px;
    /* Adjust the left and right margin as needed */
    gap: 10%;
}

.question-table-button-form {
    flex: 1;
    display: inline-flex;
}

.questions-table-buttons {
    height: 100%;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 25px;
    gap: 0.5em;
    font-weight: bolder;
    padding: 0.3em;
    cursor: pointer;
}

.questions-table-buttons>img {
    height: 2em;
}

.buttons-deactivate-button {
    background-color: var(--color2);
}

.buttons-edit-button {
    background-color: #5177ff;
    color: white;
}

.buttons-delete-button {
    background-color: #ed3838;
    color: white;
}

.add-test-question-button {
    margin-right: auto;
    margin-top: 2em;
    margin-bottom: 2em;
    margin-left: 2em;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color1);
    border: none;
    border-radius: 25px;
    font-weight: bold;
    padding: 0.5em;
    gap: 2%;
    cursor: pointer;
}

.add-test-question-button>img {
    height: 2em;
}

#test-question-item-description:hover {
    background-color: #ffcc66;
    cursor: pointer;
}

.tag {
    width: 120px;
    /* Adjust the width as needed */
    background-color: #007bff;
    /* Tag background color */
    color: #fff;
    /* Tag text color */
    border-radius: 4px;
    /* Rounded corners for the tag */
    position: relative;
    display: inline-block;
}

.question-labels {
    display: flex;
}

.label {
    padding: 0.3em;
    font-size: 0.8em;
    border-radius: 5px;
    margin-right: 0.8em;
}

.r-label {
    color: white;
    background-color: #473C1F;
}

.i-label {
    background-color: #EEEBD3;
}

.a-label {
    color: white;
    background-color: #A98743;
}

.s-label {
    color: white;
    background-color: #F7C548;
}

.e-label {
    color: white;
    background-color: #255957;
}

.c-label {
    color: white;
    background-color: #437C90;
}

.u-label {
    background-color: #c0d9ff;
    color: #333;
}